<div class="row">
  <div class="span6"></div>
  <div class="span6">
    <ul class="thumbnails">
      <li class="span6 thumbnail" ng-repeat="verse in verses">
      <div class="css-treeview">
        <ul>
          <li>
          <input type="checkbox" checked="checked" id="item-{{$index}}" />
            <label for="item-{{$index}}">{{verse._id}}</label>
            <ul>
              <li>
                <input type="checkbox" id="item-0-{{$index}}"/>
                <label for="item-0-{{$index}}">{{verse.question}}</label>
                <ul>
                  <li>{{verse.answer}}</li>
                  <li>
                    <textarea rows="3" class="input-xlarge" placeholder="Answer" ng-model="verse.answer"></textarea>
                    <button class="btn btn-primary" ng-click="answer(verse)">Submit Answer</button>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      </li>
      <li class="span6 thumbnail">
      <form name="newVerseForm">
        <div class="controll-group">
          <input type="text" placeholder="Verse Reference" ng-model="verse._id" />
        </div>
        <textarea rows="3" class="span5 input-xlarge" placeholder="Question about the verses" ng-model="verse.question"></textarea>
        <button class="btn btn-primary" ng-click="save()">Submit Question</button>
      </form>
      </li>
    </ul>
  </div>
</div>
