<div class="row">
  <div class="span6">
    <form class="form-inline">
      <select class="span2" ng-model="book" ng-options="b.name for b in bible" ng-change="newBook()"></select>
      <select class="span1" ng-show="book" ng-model="chapter" ng-options="n for n in [] | range:1:book.chapter" ng-change="getQuestions()"></select>
      <span ng-show="chapter">
        <button class="btn" ng-click="prevChapter()">Prev</button>
        <button class="btn" ng-click="nextChapter()">Next</button>
      </span>
    </form>
  </div>
  <div class="span6">
    <button class="btn" ng-show="chapter" ng-init="questionFormShowed=false" ng-click="questionFormShowed=true">New Question</button>
  </div>
</div>
<div class="row">
  <div class="span6"></div>
  <div class="span6">
    <ul class="thumbnails">
      <li class="span6 thumbnail" ng-show="questionFormShowed">
      <form name="newQuestionForm">
        <div class="controll-group">
          {{bookChapter}}: <input type="text" placeholder="verse numbers" ng-model="verseNumbers" value="test" />
        </div>
        <textarea rows="3" class="span5 input-xlarge" placeholder="Question about the verses" ng-model="question"></textarea>
        <button class="btn btn-primary" ng-click="submitQuestion()">Submit Question</button>
        <button class="btn" ng-click="questionFormShowed=false">Cancel</button>
      </form>
      </li>
      <li class="span6 thumbnail" ng-repeat="verse in verses | orderBy:'verse'">
        <div ng-init="editMode=false" ng-show="editMode">
          <form name="editQustionForm">
            <div class="controll-group">
              <input type="text" ng-model="verse.verse" />
            </div>
            <textarea rows="3" class="span5 input-xlarge" ng-model="verse.question"></textarea>
            <button class="btn btn-primary" ng-click="updateQuestion()">Update Question</button>
            <button class="btn" ng-click="editMode=false">Cancel</button>
          </form>
        </div>
      <div class="css-treeview" ng-hide="editMode">
        <ul>
          <li>
          <input type="checkbox" checked="checked" id="item-{{$index}}" />
            <label for="item-{{$index}}">
              {{verse.verse}}
              <i class="icon-edit pointer" title="edit" ng-click="editMode=true" ng-hide="verse.answers"></i>
            </label>
            <ul>
              <li>
                <input type="checkbox" id="item-0-{{$index}}"/>
                <label for="item-0-{{$index}}">{{verse.question}}</label>
                <ul>
                  <li ng-repeat="answer in verse.answers">
                    <div ng-hide="editAnswerMode">
                      {{answer}}
                      <i class="icon-edit pointer" title="edit answer" ng-click="editAnswerMode=true"></i>
                      <i class="icon-thumbs-up pointer" title="like answer" ng-click="likeAnswer()"></i>
                    </div>
                    <div ng-show="editAnswerMode" ng-init="editedAnswer=answer">
                      <textarea rows="3" class="span4 input-xlarge" ng-model="editedAnswer"></textarea>
        
                      <button class="btn btn-primary" ng-click="updateAnswer()">Update Answer</button>
                      <button class="btn btn-danger" ng-click="removeAnswer()">Remove</button>
                      <button class="btn" ng-click="editAnswerMode=false">Cancel</button>  
                    </div>
                  </li>
                  <li ng-init="answerFormShowed=false" ng-hide="answerFormShowed"><a ng-click="answerFormShowed=true">add answer</a></li>
                  <li ng-show="answerFormShowed">
                    <textarea rows="3" class="span4 input-xlarge" placeholder="New Answer" ng-model="newAnswer"></textarea>
                    <br />
                    <button class="btn btn-primary" ng-click="submitAnswer()">Submit Answer</button>
                    <button class="btn" ng-click="answerFormShowed=false">Cancel</button>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      </li>
      
    </ul>
  </div>
</div>
